USE [master]
GO
/****** Object:  Database [Chatbot]    Script Date: 12-10-2021 14:59:44 ******/
CREATE DATABASE [Chatbot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chatbot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Chatbot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Chatbot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Chatbot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chatbot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chatbot]
GO
/****** Object:  Table [dbo].[QuestionDetail]    Script Date: 12-10-2021 14:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionDetail](
	[ID] [numeric](10, 0) NOT NULL,
	[OptionID] [varchar](100) NOT NULL,
	[QuestionID] [varchar](100) NOT NULL,
	[OptionName] [varchar](1000) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_QuestionDetail] PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionHeader]    Script Date: 12-10-2021 14:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionHeader](
	[ID] [numeric](10, 0) NOT NULL,
	[QuestionID] [varchar](100) NOT NULL,
	[QuestionDetail] [varchar](4000) NULL,
	[TopicID] [varchar](100) NOT NULL,
	[RightAns] [varchar](100) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_QuestionHeader] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 12-10-2021 14:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[EmailID] [varchar](100) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Country] [varchar](200) NULL,
	[UserPassword] [varchar](2000) NULL,
	[PasswordReset] [varchar](10) NULL,
	[OTP] [varchar](2000) NULL,
	[OTPValidity] [datetime] NULL,
	[Createdby] [varchar](10) NULL,
	[CreatedOn] [datetime] NULL,
	[Changedby] [varchar](10) NULL,
	[ChangedOn] [datetime] NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[EmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopicDetail]    Script Date: 12-10-2021 14:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopicDetail](
	[ID] [varchar](50) NOT NULL,
	[TopicID] [varchar](100) NOT NULL,
	[TopicDetail] [varchar](4000) NULL,
	[ParentTopicID] [varchar](100) NULL,
	[BotReplyMessage] [varchar](4000) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_TopicDetail] PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[QuestionDetail] ([ID], [OptionID], [QuestionID], [OptionName], [CreatedOn], [CreatedBy]) VALUES (CAST(1 AS Numeric(10, 0)), N'5001', N'1001', N'No', CAST(N'2021-10-08T16:57:46.010' AS DateTime), NULL)
INSERT [dbo].[QuestionDetail] ([ID], [OptionID], [QuestionID], [OptionName], [CreatedOn], [CreatedBy]) VALUES (CAST(2 AS Numeric(10, 0)), N'5002', N'1001', N'Yes', CAST(N'2021-10-08T16:57:46.010' AS DateTime), NULL)
INSERT [dbo].[QuestionDetail] ([ID], [OptionID], [QuestionID], [OptionName], [CreatedOn], [CreatedBy]) VALUES (CAST(3 AS Numeric(10, 0)), N'5003', N'1002', N'No', CAST(N'2021-10-08T16:57:46.010' AS DateTime), NULL)
GO
INSERT [dbo].[QuestionHeader] ([ID], [QuestionID], [QuestionDetail], [TopicID], [RightAns], [CreatedOn], [CreatedBy]) VALUES (CAST(1 AS Numeric(10, 0)), N'1001', N'Do you agree that employees work better with more motivation when they align themselves with the company''s values?', N'1270', N'Yes', CAST(N'2021-10-08T16:57:46.010' AS DateTime), NULL)
INSERT [dbo].[QuestionHeader] ([ID], [QuestionID], [QuestionDetail], [TopicID], [RightAns], [CreatedOn], [CreatedBy]) VALUES (CAST(2 AS Numeric(10, 0)), N'1002', N'Is coaching a one-time a year event?', N'1280', N'No', CAST(N'2021-10-08T16:57:46.010' AS DateTime), NULL)
INSERT [dbo].[QuestionHeader] ([ID], [QuestionID], [QuestionDetail], [TopicID], [RightAns], [CreatedOn], [CreatedBy]) VALUES (CAST(3 AS Numeric(10, 0)), N'1003', N'Can any task be adequately completed without proper team collaboration?', N'1290', N'No', CAST(N'2021-10-08T16:57:46.010' AS DateTime), NULL)
GO
INSERT [dbo].[tbl_User] ([EmailID], [Name], [Phone], [Country], [UserPassword], [PasswordReset], [OTP], [OTPValidity], [Createdby], [CreatedOn], [Changedby], [ChangedOn]) VALUES (N'vijay.ahlawat@andritz.com', N'Vijay Ahlawat', NULL, N'India', N'1/LfJ0e4yXEjE433TkYg4cKEtp5sd1Piq0TzeXNR9P8=', N'0', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbl_User] ([EmailID], [Name], [Phone], [Country], [UserPassword], [PasswordReset], [OTP], [OTPValidity], [Createdby], [CreatedOn], [Changedby], [ChangedOn]) VALUES (N'vijayahlawat001@gmail.com', N'Vijay Ahlawat', NULL, N'India', N'1/LfJ0e4yXEjE433TkYg4ZMXqmdr2uU51hAvzkb4zHk=', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TopicDetail] ([ID], [TopicID], [TopicDetail], [ParentTopicID], [BotReplyMessage], [CreatedOn], [CreatedBy]) VALUES (N'1', N'10', N'I want to learn something', NULL, N'Hi, my name is Milla and I am here to maximize your learning experience. How can I help you today?', CAST(N'2021-10-10T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[TopicDetail] ([ID], [TopicID], [TopicDetail], [ParentTopicID], [BotReplyMessage], [CreatedOn], [CreatedBy]) VALUES (N'10', N'100', N'Communications - Module 04', N'40', N'Good choice! For every topic we have different modules which you can finish with a certificate.<br><br> Which module would you like to start ?', CAST(N'2021-10-08T13:49:27.443' AS DateTime), NULL)
INSERT [dbo].[TopicDetail] ([ID], [TopicID], [TopicDetail], [ParentTopicID], [BotReplyMessage], [CreatedOn], [CreatedBy]) VALUES (N'100', N'1000', N'Be open to criticism', N'90', N'Good choice! Every module consist of different microlessions.<br><br> Which microlession would you like to start ?', CAST(N'2021-10-08T16:54:33.020' AS DateTime), NULL)
GO
ALTER TABLE [dbo].[QuestionDetail]  WITH CHECK ADD  CONSTRAINT [FK_QuestionDetailWithQuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[QuestionHeader] ([QuestionID])
GO
ALTER TABLE [dbo].[QuestionDetail] CHECK CONSTRAINT [FK_QuestionDetailWithQuestionID]
GO
ALTER TABLE [dbo].[QuestionHeader]  WITH CHECK ADD  CONSTRAINT [FK_QuestionHeaderWithTopicID] FOREIGN KEY([TopicID])
REFERENCES [dbo].[TopicDetail] ([TopicID])
GO
ALTER TABLE [dbo].[QuestionHeader] CHECK CONSTRAINT [FK_QuestionHeaderWithTopicID]
GO
/****** Object:  StoredProcedure [dbo].[ChangePassword]    Script Date: 12-10-2021 14:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangePassword](
@Email VARCHAR(200),
@OTP VARCHAR(2000),
@OTPValidity DATETIME,
@NewPassword varchar(2000))
AS
	BEGIN

		DECLARE @V_CNT INT=0;

		SET @V_CNT=(SELECT COUNT(*) FROM tbl_User WHERE EmailID=@Email AND PasswordReset=1 AND OTP=REPLACE(@OTP,' ','+') AND OTPValidity> @OTPValidity);

		IF @V_CNT>0
			BEGIN
				UPDATE tbl_User
				SET OTP=null,
				PasswordReset=0,
				OTPValidity=null,
				UserPassword=@NewPassword
				WHERE EmailID=@Email;
				
				SELECT 'Password has been changed. Please login' RESULT;

			END;
		ELSE
			BEGIN
				RAISERROR('Invalid Email / OTP validity Expired',16,1);
			END;
	END;
GO
/****** Object:  StoredProcedure [dbo].[ForgetPassword]    Script Date: 12-10-2021 14:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ForgetPassword](
@Email VARCHAR(200),
@OTP VARCHAR(2000),
@OTPValidity DATETIME)
AS
	BEGIN

		DECLARE @V_CNT INT=0;

		SET @V_CNT=(SELECT COUNT(*) FROM tbl_User WHERE EmailID=@Email);

		IF @V_CNT>0
			BEGIN
				UPDATE tbl_User
				SET OTP=@OTP,
				PasswordReset=1,
				OTPValidity=@OTPValidity
				WHERE EmailID=@Email;
				
				SELECT 'Reset password link has been sent on your email ID.' RESULT;

			END;
		ELSE
			BEGIN
				RAISERROR('This email is not registered with us',16,1);
			END;
	END;
GO
/****** Object:  StoredProcedure [dbo].[GetTopicByParent]    Script Date: 12-10-2021 14:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTopicByParent](
@CurrentID varchar(100)=null)
AS
	BEGIN
		IF @CurrentID =''
			BEGIN
				SELECT A.*,'No' QuestionStart FROM TopicDetail A
				WHERE ParentTopicID IS NULL
				ORDER BY ID;
			END
		ELSE 
			BEGIN
				DECLARE @V_CNT INT =(SELECT COUNT(*) FROM TopicDetail
									 WHERE ParentTopicID =@CurrentID)

				IF ( @V_CNT>0)
					BEGIN
					select * from(
						SELECT *,'No' QuestionStart FROM TopicDetail
						WHERE ParentTopicID =@CurrentID
						UNION ALL
						SELECT '10000000' ID,'' TopicID,'Go Back' TopicDetail,'' ParentId,'' BotReplyMessage,Getdate(),'' CreatedBy,'No' QuestionStart
						) A
						ORDER BY CAST(ID AS numeric);

					END;
				ELSE
					BEGIN
						SELECT HD.*,DT.OptionName,DENSE_RANK() OVER(ORDER BY HD.QuestionID) SL_NO,'Yes' QuestionStart
						FROM QuestionHeader HD,QuestionDetail DT
						WHERE HD.QuestionID=DT.QuestionID
						AND TopicID=@CurrentID
						ORDER BY CAST(HD.ID AS numeric);
					END;
			END;
	END
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 12-10-2021 14:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegisterUser](
@FullName VARCHAR(100),
@Country VARCHAR(100),
@Email VARCHAR(100),
@Password VARCHAR(2000) = NULL)
AS
	BEGIN
		DECLARE @V_CNT INT=0;
		SET @V_CNT=(SELECT COUNT(*) FROM TBL_USER WHERE EmailID=@Email);
		IF @V_CNT>0
			RAISERROR('This email is already registerd with us',16,1);
		else
			BEGIN
				INSERT INTO TBL_USER(NAME,EMAILID,COUNTRY,USERPASSWORD)
				VALUES(@FullName,@Email,@Country,@Password);

				SELECT 'Registration Successful.' RESULT
				FROM TBL_USER;
			END;
	END;
GO
/****** Object:  StoredProcedure [dbo].[VALIDATE_USER]    Script Date: 12-10-2021 14:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[VALIDATE_USER](
@EmailID VARCHAR(100),
@Password VARCHAR(2000) = NULL)
AS
	BEGIN
		SELECT *
		FROM TBL_USER 
		WHERE EmailID=@EmailID
		AND UserPassword=@Password
			
	END;
GO
/****** Object:  StoredProcedure [dbo].[ValidateChangePasswordValidity]    Script Date: 12-10-2021 14:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidateChangePasswordValidity](
@Email varchar(200),
@OTP VARCHAR(2000),
@OTPValidity DATETIME)
AS
	BEGIN

		SELECT * FROM tbl_User WHERE EmailID=@Email AND PasswordReset=1 AND OTP=@OTP AND OTPValidity> @OTPValidity;

	END;
GO
USE [master]
GO
